<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h1> PROJECT LIST </h1>
<br>
<h5>Progress :</h5>
<p>{{progress}} %</p>
<h5>Mean Lead Time(CW) :</h5>
<p>{{lead}}</p>

<br>
<mat-card>
    <mat-card-header>
      <mat-form-field>
        <input matInput (keyup)="applyClientFilter($any($event.target).value)" placeholder="Filter By Client Name">

      </mat-form-field>
      <mat-form-field>
        <input matInput (keyup)="applyStartDateFilter($any($event.target).value)" placeholder="Filter By Start Date">

      </mat-form-field>
    </mat-card-header>
    
      <mat-card-content>
        <div class="table-container" style="width: 100%; height: 100%; overflow-y: scroll;">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                <mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell-with-border">
                    <ng-container *ngIf="column !== 'actions'; else actionsCell">
                        <ng-container *ngIf="column !== 'target' && column !== 'progress'; else progressTargetCell">
                            {{ element[column] }}
                        </ng-container>
                        <ng-template #progressTargetCell>
                            <div *ngIf="column === 'target' || column === 'progress'" class="progress-target">
                                {{ element[column] }}%
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-template #actionsCell>
                        <div class="actions-buttons">
                            <a class="btn btn-outline-primary" (click)="UpdateProject(element.idProjet)">Update</a>
                            <button [disabled]="element.projetType !== 'AWARDED'" type="button" class="btn btn-outline-secondary" (click)="CreateProject(element.idProjet)">Create Project</button>
                            <button type="button" class="btn btn-outline-success" (click)="viewDetails(element.idProjet)">More Details</button>
                            <button type="button" class="btn btn-outline-danger" (click)="delete(element.idProjet)">Delete</button>
                        </div>
                    </ng-template>
                </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </table>
        
    </div>
    </mat-card-content>
    <mat-card-footer>

    
    </mat-card-footer>
</mat-card>
  
</div>