<br>
<br>
<br>
<div class="container mt-5">
    <div class="card p-2">

        <div class="row">
            <div class="col-6">


                
                <form #sousProjectForm="ngForm" (ngSubmit)="addSousProjet(sousProjectForm)">
                   
                    <div class="form-outline mb-4">
                        
                        <select id="form1Example7" name="sousProjetType" [(ngModel)]="sousProject.sousProjetType" class="custom-select">
                            <option *ngFor="let option of statusOptions" [value]="option">{{ option }}</option>
                          </select>
                        <label class="form-label" for="form1Example9">Type of project</label>
                    </div>
                    
                   
                    <div align="end">
                        <button type="button" class="btn btn-outline-dark"  (click)="clear(sousProjectForm)">Clear</button>
                        <button type="submit" class="btn btn-outline-success">Assign Project</button>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>