<br>
<br>
<br>
<div class="container mt-5">
    <h1> Add Member </h1>

    <div class="card p-2">

        <div class="row">
            <div class="col-6">


                
                <form #MemberForm="ngForm" (ngSubmit)="addMember(MemberForm)">
                    
                    <div class="form-outline mb-4">
                        <input class="form-control" id="form1Example1" [(ngModel)]="member.prenom" name="prenom"/>
                        <label class="form-label" for="form1Example1">Name</label>
                    </div>
                    
                    
                   
                    <div align="end">
                        <button type="button" class="btn btn-outline-dark">Clear</button>
                        <button type="submit" class="btn btn-outline-success">Add Member</button>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>