<br>
<br>
<br>
<br>
<br>
<div class="container">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="m-t-30"> <img  src="assets/img/profile-img.jpg"  class="rounded-circle" width="150" />
                        <h4 class="card-title m-t-10">MR Walid Zerzeri</h4>
                        <h6 class="card-subtitle">Test Development Manager </h6>
                        
                    </div>
                </div>
                <div>
                    <hr> </div>
                <div class="card-body"> <small class="text-muted">Email address </small>
                    <h6>walid.zerzeri@asteelflash.com</h6> <small class="text-muted p-t-30 db">Phone</small>
                    <h6>+216 29725707</h6> <small class="text-muted p-t-30 db">Address</small>
                    <h6>104 l' Avenue de l'UMA, La Soukra</h6>
                    <div class="map-box">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.025439081665!2d10.240155415287015!3d36.85191137684928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12f31150d6502fc5%3A0x485d98a79478d3e7!2s104%20Avenue%20de%20l'UMA%2C%20La%20Soukra%2C%20Tunis%202036%2C%20Tunisia!5e0!3m2!1sen!2sus!4v1630084198610!5m2!1sen!2sus" width="100%" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div> <small class="text-muted p-t-30 db">Social Profile</small>
                    <br/>
                    <button class="btn btn-circle btn-secondary"><i class="bx bxl-facebook"></i></button>
                    <button class="btn btn-circle btn-secondary"><i class="bx bxl-linkedin"></i></button>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <!-- Tabs -->
                <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <h2 class="card-title">   Most Hard Working Team </h2>
                    </li>
                </ul>
                <!-- Tabs -->
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="current-month" role="tabpanel" aria-labelledby="pills-timeline-tab">
                        <div class="card-body">
                            <div class="card p-2">

                                <div class="row">
                                    <div class="col-6">
                                
                                    <div class="mt-3">
                                        <h2>Team {{getMostHardWorking1.pm}}</h2>
                                    </div>
                                    <div class="mt-3">
                                        ID: <br>
                                        {{getMostHardWorking1.idEquipe}}
                                    </div>
                                    <div class="mt-3">
                                        Number of Planned Project: <br>
                                        {{getMostHardWorking1.npp}}
                                    </div>
                                    <div class="mt-3">
                                        Number of Completed Project: <br>
                                        {{getMostHardWorking1.ncp}}
                                    </div>
                                    
                                    <div class="mt-3">
                                        Equipe Type: <br>
                                        {{getMostHardWorking1.equipeType}}
                                    </div>
                                    <br>
                                    <br>
                                    
                        
                                </div>
                        </div>    
                    </div>
                    
                    
                </div>
            </div>
            <div class="card">
                <!-- Tabs -->
                <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <hr><h2 class="card-title">   Warnings </h2>
                    </li>
                </ul>
                <!-- Tabs -->
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="current-month" role="tabpanel" aria-labelledby="pills-timeline-tab">
                        <div class="card-body">
                            <h4> Teams Without Members :</h4>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">PM</th>
                                        <th scope="col">NPP</th>
                                        <th scope="col">NCP</th>
                                        <th scope="col">Projet On Going</th>
                                        <th scope="col">Projet Stand By</th>
                                        <th scope="col">Projet Canceled</th>
                                        <th scope="col">DEPARTMENT</th>
                                        
                            
                            
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let t of warning1">
                                        <th scope="row">{{ t.idEquipe}}</th>
                                        
                                        <td>{{ t.pm }}</td>
                                        <td>{{ t.npp}}</td>
                                        <td>{{ t.ncp}}</td>
                                        <td>{{ t.projet_on_going}}</td>
                                        <td>{{ t.projet_stand_by}}</td>
                                        <td>{{ t.projet_canceled}}</td>
                                        <td>{{ t.equipeType }}</td>
                                        
                                        
                                        <td>
                                            <button type="button" class="btn btn-outline-success" (click)="assignMember(t.idEquipe)">Assign Member</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <br>
                            <h4> SousProjets Without Team :</h4>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Type Sous Projet</th>
                                        <th scope="col">STATE</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let t of warning2">
                                        <th scope="row">{{ t.idSousProjet}}</th>
                                        <td>{{ t.sousProjetType}}</td>
                                        <td>{{ t.state}}</td>
                                        <td>
                                            <button [disabled]="t.state == 'Assigned'" type="button" class="btn btn-outline-success" (click)="AssignIt(t.idSousProjet)">Assign Team</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>    
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>